.header {
  text-align: center;
  background-color: #424242;
  height: 150px;
  padding-top: 20px;
  
}


.title {
  text-align: center;
  color: white;
  font-size: 3em;
  font-weight: 400;
}

.card {
  margin-top: 10px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  width: 400px;
  border-radius: 5px;
  border: 20px;
  margin-left: 10px;
  float: left;
}

.subtitle {
  text-align: center;
  font-size: 1.2em;
  font-weight: 300;
  color: white;

}

.imagestyle {
  width: 98%;
  align-items: center;
  padding-top: 6px;
}

.mantra {
  padding: 5px 5px 5px;
  text-align: left;
  font-size: 1.2em;
  color: grey;
  font-style: italic;
}





